* {
    font-family: Roboto, sans-serif;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

ul {
    display: flex;
    margin: 0px;
    gap: 16px;
    list-style-type: none;
}

.header, .section-1, .footer {
    background-color: #1f2937;
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 150px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.section-1.box {
    padding: 128px 150px;
    display: flex;
    gap: 32px;
    align-items: center;
}

.section-1.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.section-1.title {
    font-weight: bolder;
    font-size: 48px;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb
}

.section-1.img {
    width: 400px;
    height: 125px;
    background-color: grey;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.button {
    background-color: #3882f6;
    font-weight: bold;
    padding: 8px;
    width: 120px;
    border-radius: 8px;
}

.section-2.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 32px;
    padding-bottom: 100px;
}

.section-2.title {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

.section-2.img {
    height: 150px;
    width: 150px;
    border: 4px solid #3882f6;
    border-radius: 16px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 175px;
    gap: 8px;
}

.section-2.subtext {
    text-align: center;
    color: #1f2937;
}

.section-2.imgs {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 32px;
}

.section-3.box {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 100px 235px;
}

.section-3.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
    font-style: italic;
}

.section-3.author {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

.section-4.box {
    padding: 100px 150px;
}

.section-4.inner-box {
    background-color: #3882f6;
    border-radius: 16px;
    display: flex;
    color: white;
    padding: 48px 96px;
    justify-content: space-between;
    align-items: center;
}

.section-4.left {
    display: flex;
    flex-direction: column;
}

.section-4.title {
    font-weight: bold;
    font-size: 24px;
}

.section-4.button {
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    height: 36px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}